[S3E] 
MemSize=25000000
MemSizeDebug=25000000
DispFixRot=2
SplashScreenBkR=255
SplashScreenBkG=255
SplashScreenBkB=255
SplashScreenFile=airplaysplash.jpg
SplashScreenWidth=240
SplashScreenHeight=240
[GX]
DataCacheSize=524288
NumTPages=256
DisplayFramerate=1

[2D] 
MaxBatch=0

[GL]
AllowNoDepthBufferClear=1
//[Util]
//MemoryBreakpoint=1094

  